Source: try-rs
Section: utils
Priority: optional
Maintainer: Tassio Virginio <tassiovirginio@gmail.com>
Build-Depends: debhelper-compat (= 13), cargo, rustc, libstd-rust-dev
Standards-Version: 4.5.0
Homepage: https://github.com/tassiovirginio/try-rs

Package: try-rs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A utility tool written in Rust
 The try-rs A blazing fast, Rust-based workspace manager for your temporary experiments.
 This tool was developed in Rust to ensure performance
 and memory safety.
