name: Release

on:
  push:
    tags:
      - "v*"

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    env:
      BIN_NAME: try-rs

    strategy:
      matrix:
        target:
          - x86_64-unknown-linux-gnu

    steps:
      - uses: actions/checkout@v4

      - uses: dtolnay/rust-toolchain@stable
        with:
          targets: ${{ matrix.target }}

      - name: Build
        run: cargo build --release --target ${{ matrix.target }} --bin $BIN_NAME

      - name: Package
        run: |
          cd target/${{ matrix.target }}/release
          ls -lh
          tar -czvf $BIN_NAME-${{ github.ref_name }}-linux-x86_64.tar.gz $BIN_NAME
          sha256sum $BIN_NAME-${{ github.ref_name }}-linux-x86_64.tar.gz > $BIN_NAME-${{ github.ref_name }}-linux-x86_64.tar.gz.sha256

      - name: Upload Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            target/${{ matrix.target }}/release/*.tar.gz
            target/${{ matrix.target }}/release/*.sha256
